---
---
@charset "UTF-8";

@import '../_sass/_kanbasu-overwrites';
@import "../_sass/kanbasu";


body {
    font-size: 1.25em;
    background: $alt-color-darker;
}

h1 {
    font-family: $font-family-bold;
    font-size: 4em;
}

h1.subtitled {
    font-family: $font-family-default;
}

h3.subtitle {
    margin-top:-1.5em;
    padding-top:0;
    padding-bottom:1em;
    font-weight: 200;

}

.oc-brand-indicator:after {
    content: "";
    display: block;
    background: $brand-color;
    height: $spacing-unit-tiny;
    width: $spacing-unit-huge*2;
    margin: $spacing-unit-small 0 $spacing-unit-huge 0;
}

.main-nav li:hover::after {
    content: "";
    display: block;
    background: $brand-color;
    height: $spacing-unit-tiny;
    width: 100%;
    margin: auto;
}

.padded{
    padding: 3*$spacing-unit-huge;
}


.padded--body{
   	padding: 0 3*$spacing-unit-huge 3*$spacing-unit-huge 3*$spacing-unit-huge;
}



.main-nav {
	text-transform: uppercase;
    font-family: $font-family-bold;
	letter-spacing: 2px;
}

header .masterhead {
	margin-top: 6*$spacing-unit-huge;
}

.masterhead p {
	font-size: 1.25em;
}

.bg-gradient {
	background: rgba(255,255,255,0);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(34,33,31,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(34,33,31,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(34,33,31,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(34,33,31,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(34,33,31,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(34,33,31,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#22211f', GradientType=0 );
}

.bg-darker {
	background: $alt-color-darker;
}

.bg-lighter {
    background: $alt-color-lighter;
    color:  $alt-color-darker;
}

header {
	height: 10.5em;
}

header.full {
	height: 100vh;
}

a.cta{
	border: 2px solid white;
	text-transform: uppercase;
    font-family: $font-family-bold;
	letter-spacing: 2px;
}

a.cta:hover{
	color: white;
	border: 2px solid $brand-color;
}

.masterhead a.cta {
	@media #{$mq-md}, #{$mq-sm}, #{$mq-xs}{
		margin-top: $spacing-unit-huge;
	}

	@media #{$mq-lg} {
		margin-top: 3*$spacing-unit-huge;
	}
}



.divider {
	color: $alt-color-darker;
}


/* Projects page */
.projectcover {
	background: none;
	overflow: hidden;
}

.projectteaser h2 a {
	color: white;
	text-decoration: none;
}

.projectteaser h2 {
	font-weight: 600;
	font-size: 2.4em;
	margin: 0 0 100px 0;
	padding: 0;
	top: 0;
	position: relative;
	z-index: 4;
}

.projectteaser span {
	font-size: 1.2em;
	line-height: 1;
	font-weight: 400;
}

.projectteaser {
	top: 0;
	padding: 20px;
	min-height: 232px;
}

.balloon {
	position: relative;
    background: #000;
}

.balloon::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: transparent url(../img/balloon_cover.jpg) no-repeat scroll 0% 0%;
    opacity: 0.3;
  	background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}


.levillage {
	position: relative;
    background: #000;
}

.levillage::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: transparent url(../img/levillage_cover.jpg) no-repeat scroll 0% 0%;
    opacity: 0.3;
  	background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}


.rover {
	position: relative;
    background: #000;
}

.rover::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: transparent url(../img/rover_cover.jpg) no-repeat scroll 0% 0%;
    opacity: 0.3;
  	background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.projectteaser:hover {
	background: $brand-color;
}


/* News */

.news {
	background: url(http://placehold.it/600x300);
	padding: 10*$spacing-unit-huge 0 0 0;
	margin: 0 0 3*$spacing-unit-huge 0;
}



/* Rover */
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}


.box--logo {
    height: 100vh;
}
.box--logo img {
    width: 20em;
    margin: auto;
}

.logo {
    position: absolute;
    z-index: 101;
}

#navpull {
    position: absolute;
    z-index: 101;
    top: $spacing-unit-large;
    right: $spacing-unit-large;
    display: none;
    padding-top: 0.8*$spacing-unit-large;
}

#navpull img {
    width: 38px;
}


/* Responsive */
@media #{$mq-md}, #{$mq-sm}, #{$mq-xs}{

   
    .padded--body{
        padding: 0 $spacing-unit-huge $spacing-unit-huge $spacing-unit-huge;
    }

    .padded {
        padding: $spacing-unit-huge;
    }
    
    body {
        font-size: 0.8em;
    }


}


@media #{$mq-xs}{


    #navpull {
        display: block;
    }

    ul.main-nav {
        display: none;
        position: absolute;
        z-index: 100;
        height: 100vh;
        width: 100%;
        left: 0;
        top: 0;
        padding: 5*$spacing-unit-huge 0 0 $spacing-unit-large;
        margin: 0;
        background: $brand-color;
    }

    ul.main-nav > li{
        display: block;
        width: 100%;
        text-align: left;
        color: black;
        font-size: 1.5em;
    }

    ul.main-nav > li:hover::after{
        display: none;
    }
}



