body, html, .dashboard {
  background-color: #333333;
  background: #333333;

}

h1 {font-size: 1.5em;margin:0;}
h2 {font-size: 0.8em; font-family: "GibsonLight"; margin: 0;padding:0;}

.wrapper {
  margin: 1em 2em 0 2em;
}

.hidem {
  display: block;
}

.dashbox {
  border-bottom: 3px #232323 solid;
  background: #424242;
  padding: 1em;
  margin: 1em;
}

@media (min-width: 1em) and (max-width: 60em) {
  .wrapper {
    margin: 0;
  }

  .hidem {
    display: none
  }

  .dashbox {
    margin: 1em 0 1em 0;
  }
}

.header {
  height: 5em;
  line-height: 3em;
}

.logo {
    margin:-0.8em 0 0 -0.2em;
    height: 4.5em;
}

.digital {
  font-family: "Inconsolata", monospace;
  font-weight: bold;
}


.antarctica-bg{
  background: url("antarctica_bg.jpg") #424242 no-repeat left top;
  background-size: contain;
  background-origin: border-box;
}

.rover-bg{
  margin: 0em -1em -1em -1em;
  width: 80%;
}

.donate {
  background: rgba(255,198,0,0.2) ;
  padding: 1em;
  color: white;
  font-size: 0.8em;
  line-height: 1.2em;
  font-family: "GibsonLight";

}

/*
.secondary {
  position: relative;
}

.comms {
  position: absolute;
  bottom: 0;
}
*/
dt {
  font-family: "GibsonLight";
  color: #979797;
  text-transform: uppercase;
  line-height: 1em;
  font-size: 0.6em;
  margin: 0 0 -0.3em 0;
}

dl {
  font-family: "GibsonRegular";
  color: #fff;
  font-size: 1.3em
}

.unit {
  font-size: 0.5em;
}

.smaller {
  font-size: 1em;
}

.larger {
  font-size: 1.5em;
  font-family: "GibsonLight";
  line-height: 1.1em;
}

.alert {
  color: rgb(255,83,0);
}

p {
  font-size: 0.7em;
  line-height: 0.9em;
}
