<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stellar.js/0.6.2/jquery.stellar.min.js"></script>
<script src="{{ site.baseurl }}/js/octanis.js"></script>


<footer class="padded bg-lighter grid">
	<div class="grid__item sm-w-1/2">
		<strong>Octanis Association</strong><br/>
		Visit us Wednesdays,
		19:30 - 23:30 at <a href="http://hackuarium.ch" target="_blank">Hackuarium</a><br />
		
	</div>
	<div class="grid__item sm-w-1/2 text-right">
		Follow us on:
		<a href="http://fb.com/octanis.epfl" target="_blank">Facebook</a> | <a href="http://instagram.com/octanisorg" target="_blank">Instagram</a> | <a href="http://twitter.com/octanisorg" target="_blank">Twitter</a>
		<br />Text: &copy; 2015, 
		Images: CC-BY 2015

		<br/>
		<a href="http://octanis.org/wiki">Wiki</a>
	</div>

</footer>