<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stellar.js/0.6.2/jquery.stellar.min.js"></script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//trck.bitmorse.com/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 14]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//trck.bitmorse.com/piwik.php?idsite=14" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

<script src="{{ site.baseurl }}/js/octanis.js"></script>


{% if page.title != 'We are an open incubator.' %}
<footer class="padded bg-lighter grid">
	<div class="grid__item sm-w-1/2">

		<strong>Octanis Association</strong><br/>

		Visit us Wednesdays,
		18:30 - 23:30 at <a href="http://hackuarium.ch" target="_blank">Hackuarium</a><br />
    <img src="/img/epfl_black.png" alt="" />

		<br/>
		<a href="http://octanis.org/wiki">Wiki</a> | <a href="https://github.com/octanisorg/articles_of_association">Articles</a> | <a href="https://github.com/octanisorg/code_of_conduct">Code</a>

	</div>
	<div class="grid__item sm-w-1/2 right-footer">
		Follow us on:
		<a href="http://fb.com/octanis.org" target="_blank">Facebook</a> | <a href="http://instagram.com/octanisorg" target="_blank">Instagram</a> | <a href="http://twitter.com/octanisorg" target="_blank">Twitter</a>
		<br />Text: &copy; 2016,
		Images: CC-BY 2016<br/>
		Website by Hug&<a href="http://bitmorse.com">Sulaimanov</a><br>


		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="SRMFX3LA3RVWU">
		<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
		<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
		</form>

	</div>

</footer>
{%else%}
<img src="/img/epfl.png" alt="" class="padded" />

{%endif%}
