<header class="clearfix padded full">
    <div class="logo pull-left">
      <h1 class="mrg0"><a href="{{ site.baseurl }}/"><img src="img/white_logo.png" /></a></h1>
    </div>
    <div class="pull-right nav">
      {% include nav.html %}
    </div>




  

    <div class="masterhead relative-parent">

      <h1 class="oc-brand-indicator">{{ page.title }}</h1>

      <p class="sm-w-3/5">{{ page.teaser  }}</p>

      <a class="btn btn--md btn--default cta" href="about.html">Find out what we do</a>
    </div>

</header>
