<header class="clearfix padded full">
    <div class="pull-left">
      <h1 class="mrg0"><a href="/"><img src="img/white_logo.png" /></a></h1>
    </div>
    <div class="pull-right">
      <ul class="list-inline main-nav">
        <li><a href="about.html" class="btn btn--md">About</a></li>
        <li><a href="projects.html" class="btn btn--md">Projects</a></li>
        <li><a href="news.html" class="btn btn--md">News</a></li>
        <li><a href="join.html" class="btn btn--md">Join</a></li>

      </ul>
    </div>

  

    <div class="masterhead relative-parent">

      <h1 class="oc-brand-indicator">{{ page.title }}</h1>

      <p class="sm-w-3/5">{{ page.teaser  }}</p>

      <a class="btn btn--md btn--default cta" href="about.html">Find out what we do</a>
    </div>

  </header>
