<a href="#" id="navpull"><img src="{{ site.baseurl }}/img/navbtn.png" width="height: 10px;" /></a>

<ul class="list-inline main-nav">
	<li><a href="{{ site.baseurl }}/fr/about" class="btn btn--md"  onclick="javascript:_paq.push(['trackEvent', 'nav', 'About']);">À Propos</a></li>
	<li><a href="{{ site.baseurl }}/workshops" class="btn btn--md"  onclick="javascript:_paq.push(['trackEvent', 'nav', 'Workshops']);">Workshops</a></li>
	<li><a href="{{ site.baseurl }}/fr/projects" class="btn btn--md" onclick="javascript:_paq.push(['trackEvent', 'nav', 'Projects']);">Projets</a></li>
	<li><a href="{{ site.baseurl }}/fr/updates" class="btn btn--md" onclick="javascript:_paq.push(['trackEvent', 'nav', 'Updates']);">Nouveautés</a></li>
	<li><a href="{{ site.baseurl }}/fr/start" class="btn btn--md" onclick="javascript:_paq.push(['trackEvent', 'nav', 'Join']);">Rejoignez-nous</a></li>
 	<li><a href="{{ site.baseurl }}/" class="btn btn--md language"  onclick="javascript:_paq.push(['trackEvent', 'nav', 'FR']);">EN | <span style="opacity:0.5">FR</span></a></li>

</ul>
