<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="dimmed">

    {% include header_page.html %}



		<div class="grid grid--tiny grid--center mrgt padded--body">


			<div class="grid__item sm-w-2/3">
			

				<h1>{{page.title}}</h1>
				<p>
					Posted by {{page.author.display_name}} on {{ page.date | date:"%B %d, %Y" }}.

				</p>
		


			</div>


		</div>


		<div class="grid padded bg-lighter text-center">

					<div class="grid__item sm-w-2/3">
						
						<div class="text-left box box--tiny post">

							{{ content }}
						</div>


					</div>
				 
			

		</div>

    {% include footer.html %}

  </body>

</html>
