/* Octanis Website */

@import 'settings/_kanbasu-overwrites'; // overwrites
@import "kanbasu";

body {
    font-size: 1.25em;
    background: $alt-color-darker;
}

h1 {
    font-weight: 600;
    font-size: 4em;

}

.oc-brand-indicator:after {
    content: "";
    display: block;
    background: $brand-color;
    height: $spacing-unit-tiny;
    width: $spacing-unit-huge*2;
    margin: $spacing-unit-small 0 $spacing-unit-huge 0;
}

.padded{

    @media #{$mq-md}, #{$mq-sm}, #{$mq-xs}{
    	padding: $spacing-unit-huge;
	}

	@media #{$mq-lg} {
    	padding: 3*$spacing-unit-huge;
	}
}

.main-nav {
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
}

.masterhead {
	margin-top: 6*$spacing-unit-huge;
}
.masterhead p {
	font-size: 1.25em;
}

header {
	height: 100vh;
}

a.cta{
	border: 2px solid white;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
}

a.cta:hover{
	color: white;
	border: 2px solid $brand-color;
}

.masterhead a.cta {
	@media #{$mq-md}, #{$mq-sm}, #{$mq-xs}{
		margin-top: $spacing-unit-huge;
	}

	@media #{$mq-lg} {
		margin-top: 3*$spacing-unit-huge;
	}
}


.grid {
	background: $alt-color-darker;
}


.divider {
	background: $alt-color-lighter;
	color: $alt-color-darker;
}


